.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0.5rem 0;
}

.btn {
  display: inline-block;
  margin: 0.3rem 0;
  color: var(--secondary-text-color);
  background: var(--primary-color);
  border: solid 1px var(--secondary-color);
  line-height: 1.2;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 1.25rem;
  outline: none !important;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.btn:hover {
  background: var(--secondary-color);
  border: solid 1px var(--primary-color);
}

.btn-rounded {
  border-radius: 3rem;
}
